<html>

<head>
  <title>JEEC|Brain</title>
  <link rel="stylesheet" href="/static/admin/css/global.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="/static/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

  <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">

  <script type="text/javascript">
    $(document).ready(function () {
      $('select').formSelect();
    });
  </script>
</head>

<body>
  <div class="nav-bar">
    <a href="{{ url_for('admin_api.dashboard') }}"><img class="jeec-logo-mobile" src="/static/brain.png"></a>

    <form action="{{ url_for('admin_api.admin_logout') }}" method="get">
      <button class="waves-effect red lighten-2 btn-small right logout-btn"><i class="material-icons left">lock</i>Log
        out</button>
    </form>

    <a target="_blank" rel="noopener noreferrer" href="https://jeec.ist" method="get">
      <button class="waves-effect waves-light btn-small right" style="margin-top: -3px; margin-right: 50px;"><i
          class="large material-icons left">web</i>Visit website</button>
    </a>
  </div>

  <div class="section-header">
    <h2>JEECPOT Rewards Management</h2>
    <p>Manage the rewards for the top students and squads</p>
  </div>

  <form action="{{ url_for('admin_api.rewards_dashboard') }}" method="get">
    <button class="waves-effect waves-light btn back-btn left"><i
        class="material-icons left">arrow_back</i>back</button>
  </form>

  <div class="section-title center-align" style="margin-top:90px;">
    List of JEECPOT Rewards
  </div>

  <div class="list">
    {% if error is not none %}
    <blockquote class="create-error">
      {{ error }}
    </blockquote>
    {% else %}

    <table class="striped">
      <thead>
        <tr>
          <th>Destinatary</th>
          <th>Reward</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b>First Student</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="first_student_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.first_student_reward_id is not none and reward.id|int() == jeecpot_rewards.first_student_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.first_student_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <b>Second Student</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="second_student_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.second_student_reward_id is not none and reward.id|int() == jeecpot_rewards.second_student_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.second_student_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <b>Third Student</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="third_student_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.third_student_reward_id is not none and reward.id|int() == jeecpot_rewards.third_student_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.third_student_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <b>First Squad</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="first_squad_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.first_squad_reward_id is not none and reward.id|int() == jeecpot_rewards.first_squad_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.first_squad_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <b>Second Squad</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="second_squad_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.second_squad_reward_id is not none and reward.id|int() == jeecpot_rewards.second_squad_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.second_squad_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <b>Third Squad</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="third_squad_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.third_squad_reward_id is not none and reward.id|int() == jeecpot_rewards.third_squad_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.third_squad_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <b>King of Job Fair</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="king_job_fair_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.king_job_fair_reward_id is not none and reward.id|int() == jeecpot_rewards.king_job_fair_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.king_job_fair_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <b>King of Knowledge</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="king_knowledge_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.king_knowledge_reward_id is not none and reward.id|int() == jeecpot_rewards.king_knowledge_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.king_knowledge_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <b>King of Hacking</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="king_hacking_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.king_hacking_reward_id is not none and reward.id|int() == jeecpot_rewards.king_hacking_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.king_hacking_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <b>King of Networking</b>
          </td>

          <td>
            <form action="/admin/jeecpot-rewards/{{jeecpot_rewards.external_id.hex}}" method="post" onsubmit="confirm('Are you sure you want to change the reward?');">
              <select name="king_networking_reward" class="form-control" onchange="this.form.submit()">
                {% for reward in rewards %}
                <option value="{{ reward.external_id.hex }}"
                  {% if jeecpot_rewards.king_networking_reward_id is not none and reward.id|int() == jeecpot_rewards.king_networking_reward_id|int() %} selected {% endif %}>
                  {{ reward.name }}</option>
                {% endfor %}
                <option value="" {% if jeecpot_rewards.king_networking_reward_id is none %} selected {% endif %}></option>
              </select>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </div>
</body>

</html>