<html>  
  <head>
    <title>JEEC|Admin</title>
    <link rel="stylesheet" href="/static/cv_platform/css/index_style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>

    <div class="section-header" >
      <h2>Add a new Team</h2>
    </div>

    <form action="{{ url_for('admin_api.create_team') }}" method="post">
        Name:<br>
        <input type="text" name="name" required><br>
        Description:<br>
        <input type="text" name="description"><br>
      
        <input type="submit" value="Save">
    </form>

    <form action="{{ url_for('admin_api.teams_dashboard') }}" method="get">
        <button>Cancel</button>
    </form>
  </body>
</html>  