<html>  
  <head>
    <title>JEEC|Admin</title>
    <link rel="stylesheet" href="/static/cv_platform/css/index_style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>

    <div class="section-header" >
      <h2>Team Management</h2>
    </div>

    <table>
        <thead><tr>
          <th>Name</th>
          <th>Description</th>
        </tr></thead>
        <tbody>
            {% for team in teams %}
              <tr>
                <td>{{ team.name }}</td>

                <td>
                  {% if team.description is not none %}
                    {{ team.description }}
                  {% endif %}
                </td>

                <td>
                  <form action="/admin/team/{{team.external_id.hex}}" method="get">
                      <button>Edit</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{ url_for('admin_api.add_team_dashboard') }}" method="get">
      <button>Add Team</button>
    </form>

    <form action="{{ url_for('admin_api.dashboard') }}" method="get">
        <button>Go back</button>
    </form>
  </body>
</html>  