<html>  
  <head>
    <title>JEEC|Admin</title>
    <link rel="stylesheet" href="/static/cv_platform/css/index_style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>

    <div class="section-header" >
      <h2>Add a new team member</h2>
    </div>

    <form method="post">
        Name:<br>
        <input type="text" name="name" value="{{ member.name }}"><br>
        IST_id:<br>
        <input type="text" name="ist_id" value="{{ member.ist_id }}"><br>
        Email:<br>
        <input type="text" name="email" value="{{ member.email }}"><br>
        LinkedIn:<br>
        <input type="text" name="linkedin_url" value="{{ member.linkedin_url }}"><br>
      
        <input type="submit" value="Save">
    </form>

    <form action="/admin/team/{{member.team.external_id.hex}}/members/{{member.external_id.hex}}/delete" method="get">
        <button>Delete member</button>
    </form>

    <form action="/admin/team/{{member.team.external_id.hex}}" method="get">
        <button>Cancel</button>
    </form>
  </body>
</html>  