alembic==1.7.5
applicationinsights==0.11.10
astroid==2.8.5
bidict==0.21.4
blinker==1.4
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
dataclasses==0.8
dnspython==2.1.0
fenixedu==1.0.0
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
flask-openapi3==0.9.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.6.0
Mako==1.1.5
MarkupSafe==2.0.1
mccabe==0.6.1
pkcs7==0.1.2
platformdirs==2.4.0
psycopg2==2.7.7
psycopg2-binary==2.9.2
pycryptodome==3.11.0
pydantic==1.8.2
PyJWT==2.3.0
pylint==2.11.1
pylint-flask==0.6
pylint-plugin-utils==0.6
python-dateutil==2.8.2
python-dotenv==0.19.2
python-editor==1.0.4
python-engineio==4.3.0
python-socketio==5.4.1
requests==2.26.0
rope==0.21.1
six==1.16.0
SQLAlchemy==1.4.27
SQLAlchemy-Utils==0.37.9
toml==0.10.2
typed-ast==1.5.0
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==3.0.0
zipp==3.6.0
