<html>  
  <head>
    <title>JEEC|Admin</title>
    <link rel="stylesheet" href="/static/cv_platform/css/index_style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>

    <div class="section-header" >
      <h2>Companies Management</h2>
    </div>

    <table>
        <thead><tr>
          <th>Name</th>
          <th>Email</th>
          <th>CV Platform</th>
          <th>Business</th>
        </tr></thead>
        <tbody>
            {% for company in companies %}
              <tr>
                <td><a href="/testresult?query={{ d }}">{{ company.name }}</td></a>
                <td>{{ company.email }}</td>
                <td>{{ company.access_cv_platform }}</td>
                <td>{{ company.business_area }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/action_page.php" method="get">
      <button name="subject" type="submit">Add Company</button>
    </form>
  </body>
</html>  