<html>  
  <head>
    <title>JEEC|Admin</title>
    <link rel="stylesheet" href="/static/cv_platform/css/index_style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>

    <div class="section-header" >
      <h2>Companies Management</h2>
    </div>

    <table>
        <thead><tr>
          <th>Name</th>
          <th>Business</th>
          <th>Email</th>
          <th>Website</th>
          <th>CV Platform</th>
        </tr></thead>
        <tbody>
            {% for company in companies %}
              <tr>
                <td><a href="company/{{ company.external_id }}">{{ company.name }}</a></td>

                <td>
                  {% if company.business_area is not none %}
                    {{ company.business_area }}
                  {% endif %}
                </td>

                <td>
                  {% if company.email is not none %}
                    {{ company.email }}
                  {% endif %}
                </td>
                
                <td>
                  {% if company.link is not none %}
                    <a href="{{ company.link }}">{{ company.link }}</a>
                  {% endif %}
                </td>
                
                <td>
                  {{ company.access_cv_platform }}
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{ url_for('admin_api.add_company_dashboard') }}" method="get">
      <button>Add Company</button>
    </form>

    <form action="{{ url_for('admin_api.dashboard') }}" method="get">
        <button>Go back</button>
    </form>
  </body>
</html>  