<html>  
  <head>
    <title>JEEC|Brain</title>
    <link rel="stylesheet" href="/static/admin/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>
      <div class="nav-bar">
        <a href="{{ url_for('admin_api.dashboard') }}"><img class="jeec-logo-mobile" src="/static/brain.png"></a>

        <form action="{{ url_for('admin_api.admin_logout') }}" method="get">
          <button class="waves-effect red lighten-2 btn-small right logout-btn"><i class="material-icons left">lock</i>Log out</button>
        </form>

        <a target="_blank" rel="noopener noreferrer" href="https://jeec.ist" method="get">
          <button class="waves-effect waves-light btn-small right" style="margin-top: -3px; margin-right: 50px;"><i class="large material-icons left">web</i>Visit website</button>
        </a>
    </div>

    <div class="section-header" >
        <h2>{{ company.name }}</h2>
        <p>Edit company information</p>
    </div>

    <form action="{{ url_for('admin_api.companies_dashboard') }}" method="get">
        <button class="waves-effect waves-light btn back-btn left"><i class="material-icons left">arrow_back</i>back</button>
    </form>

    <br>

    <div class="create-form">
      {% if error is not none %}
        <blockquote class="create-error">
          {{ error }}
        </blockquote>
      {% endif %}
      
      <form class="col s12" method="post" enctype="multipart/form-data">
          <br>
          {% if image is not sameas none %}
            <img src="{{ image }}" class="company-logo centered-image">
          {% else %}
            <blockquote class="create-error">
              Company image missing! Please, upload one
            </blockquote> 
          {% endif %}

          <div class="row">
            <div class="input-field col s4">
              <input class="col s12" id="name" name="name" type="text" class="validate" value="{{ company.name }}" required>
              <label for="name">Name</label>
            </div>

            <div class="col">
              CV's Access:
              <p>
                <label style="margin-right: 20px;">
                  <input class="with-gap" name="cvs_access" type="radio" value="True" {% if company.cvs_access is sameas true %} checked {% endif %} />
                  <span>Yes</span>
                </label>
                <label>
                  <input class="with-gap" name="cvs_access" type="radio" value="False" {% if company.cvs_access is sameas false %} checked {% endif %} />
                  <span>No</span>
                </label>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <input id="link" name="link" type="url" value="{{ company.link }}" class="validate">
              <label for="link">Website</label>
            </div>
  
          
            <div class="input-field col s3">
              <input id="email" name="email" type="email" class="validate" value="{{ company.email }}">
              <label for="email">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <input id="evf_username" name="evf_username" type="text" class="validate" value="{{ company.evf_username }}" >
              <label for="evf_username">EVF Username</label>
            </div>
  
          
            <div class="input-field col s4">
              <input id="evf_password" name="evf_password" type="text" class="validate" value="{{ company.evf_password }}">
              <label for="evf_password">EVF Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="business_area" name="business_area" type="text" value="{{ company.business_area }}">
              <label for="business_area">Business area</label>
            </div>
          </div>
          
          <p>
            <select name="partnership_tier" class="browser-default" style="margin-left: 100px;width: 200px;display: inline-block;">
              <option value="" disabled {% if company.partnership_tier is sameas none %} selected {% endif %}>Partnership</option>
              <option value="gold" {% if company.partnership_tier=='gold' %} selected {% endif %}>Gold</option>
              <option value="silver" {% if company.partnership_tier=='silver' %} selected {% endif %}>Silver</option>
              <option value="bronze" {% if company.partnership_tier=='bronze' %} selected {% endif %}>Bronze</option>
              <option value="main_sponsor" {% if company.partnership_tier=='main_sponsor' %} selected {% endif %}>Main Sponsor</option>
              <option value="sponsor" {% if company.partnership_tier=='sponsor' %} selected {% endif %}>Sponsor</option>
            </select>
          </p>

          <br>

          Show company in JEEC website:
          <p>
            <label style="margin-right: 20px;">
                <input class="with-gap" name="show_in_website" type="radio" value="True" {% if company.show_in_website is sameas true %} checked {% endif %}/>
              <span>Yes</span>
            </label>
            <label>
              <input class="with-gap" name="show_in_website" type="radio" value="False" {% if company.show_in_website is sameas false %} checked {% endif %}/>
              <span>No</span>
            </label>
          </p>

          <br>

          <div class="file-field input-field" style="width:500px;">
            <div class="btn">
              <i class="material-icons left">add_a_photo</i>
              <span>{% if image is not sameas none %}change image{% else %}add image{% endif %}</span>
              <input type="file" name="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="use .png with <200kB">
            </div>
          </div>

          <button type="submit" class="waves-effect blue lighten-2 btn add-btn right"><i class="material-icons left">save</i>Save Company</button>
      </form>
    </div>
    

    <form action="/admin/company/{{company.external_id.hex}}/delete" method="get" onsubmit="return confirm('Are you sure you want to delete this company?');">
      <button class="waves-effect red darken-2 btn delete-btn"><i class="material-icons left">clear</i>Delete Company</button>
    </form>
  </body>
</html>  