.logo-container {
    text-align: center;
    margin-bottom: 40px;
}

.jeec-logo {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    width: 450px;
    display: inline-block;
  }


.title {
    text-align: center;
    margin-top: 20px;
    margin: auto;
    width: 50%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 600;
}


.section-header {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
.section-header h2 {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size: 36px;
text-transform: uppercase;
text-align: center;
font-family: Avenir,Helvetica,Arial,sans-serif;
color: #2c3e50;
font-weight: 700;
margin-bottom: 10px;
}

.section-header p {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: center;
padding: 0;
margin: 0;
font-size: 18px;
font-family: 'Karla';
font-weight: 500;
color: #9195a2;
}

.section-header::before {
content: '';
position: absolute;
display: block;
width: 100px;
height: 2px;
background: #4089ff;
bottom: 0;
left: calc(50% - 50px);
}

.login-container {
    margin-top: 40px;
    text-align: center;
}

.login-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    color: #2c3e50;
    font-weight: 600;
}

.warning-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    text-align: center;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    color: #f66161;
    font-weight: 600;
}

.login-button {
    background-color: #ffffff;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    width: 400px;
    border: none;
    border: 2px solid rgb(55, 121, 184);
    outline: none;
    outline-style: none;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}


.login-button:hover { border-color:rgb(55, 121, 184); transform: scale(1.1); }


.flexbox-imgs {
    display: -webkit-box;  /* iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* IE 10 */
    display: -webkit-flex; /* Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /*Firefox, Chrome, Opera */
    
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-top: 120px;
  }

  a img {
    justify-content: center;
      max-height: 100px;
      max-width: 150px;
      margin: 5px 12px;
      padding-left: 30px;
      opacity: .85;
      transition: all .3s;
   
  }
  a img:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
  }
  
@media screen and (max-width: 800px) {
    .flexbox-imgs img {
      max-width: 125px;
      max-height: 88px;
      margin: 5px 8px;
      padding-left: 10px;
  }
}

/* On screens that are 350px wide*/
@media only screen and (max-width: 500px) {
    .jeec-logo {
        margin-top: 10px;
        max-width: 100%;
        height: auto;
        width: 200px;
        display: inline-block;
    }

    .flexbox-imgs img {
        max-width: 85px;
        max-height: 60px;
        margin: 3px 5px;
    }
    
    .section-header h2 {
        font-size: 30px;
        font-family: Avenir,Helvetica,Arial,sans-serif;
        color: #2c3e50;
        font-weight: 700;
        margin-bottom: 10px;
    }

    
    .login-button {
        padding: 10px;
        font-size: 20px;
        border-radius: 5px;
        width: 250px;
        border: none;
        border: 2px solid rgb(55, 121, 184);
        outline: none;
        outline-style: none;
        margin-top: 20px;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }
        
}

