.section-header {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  
  .section-header h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-family: Avenir,Helvetica,Arial,sans-serif;
  color: #2c3e50;
  font-weight: 700;
  margin-bottom: 10px;
  }
  
  .section-header p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Karla';
  font-weight: 500;
  color: #9195a2;
  }
  
  .section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 2px;
  background: #4089ff;
  bottom: 0;
  left: calc(50% - 50px);
  }

  .logo-container {
    margin-top: 30px;
    text-align: center;
  }
  
  .jeec-small-logo {
    margin-top: 10px;
    max-width: 270px;
    display: inline-block;
  }

  
.accept-container {
    margin-top: 50px;
    text-align: center;
}

.accept-button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.accept-button + label {
    color:  #2c3e50;
    font-family: 'Lato';
    font-size: 22px;
    border: 2px solid  rgb(140, 180, 245);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .accept-logo {
    margin-top: 10px;
    margin-bottom: 5px;
    max-height: 50px;
    transition: all .2s ease-in-out;
  }
  
  .accept-logo:hover {
      transform: scale(1.1); 
  }

  
.logout-container {
    margin-top: 40px;
    text-align: center;
  }
  
  .logout-button {
    background-color: #ffffff;
    padding: 6px;
    font-size: 17px;
    border-radius: 10px;
    width: 200px;
    border: none;
    border: 2px solid rgb(221, 98, 119);
    outline: none;
    outline-style: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
  
  .logout-button:hover { border-color:rgb(55, 121, 184); transform: scale(1.05); }
  
  .text-container {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 17px;
      line-height: 23px;
      font-family: 'Lato';
      text-align: justify;
  }