<html>  
  <head>
    <title>Brain</title>
    <link rel="stylesheet" href="/static/admin/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>
    <div class="nav-bar">
        <a href="{{ url_for('admin_api.dashboard') }}"><img class="jeec-logo-mobile" src="/static/brain.png"></a>

        <form action="{{ url_for('admin_api.admin_logout') }}" method="get">
          <button class="waves-effect red lighten-2 btn-small right logout-btn"><i class="material-icons left">lock</i>Log out</button>
        </form>

        <a target="_blank" rel="noopener noreferrer" href="https://jeec.ist" method="get">
          <button class="waves-effect waves-light btn-small right" style="margin-top: -3px; margin-right: 50px;"><i class="large material-icons left">web</i>Visit website</button>
        </a>
    </div>

    <div class="section-header" >
      <h2>Speakers Management</h2>
      <p>Add, edit or delete speakers</p>
    </div>

    <form action="{{ url_for('admin_api.dashboard') }}" method="get">
        <button class="waves-effect waves-light btn back-btn left"><i class="material-icons left">arrow_back</i>back</button>
    </form>
    
    {% if role in ['admin', 'speakers_admin'] %}
      <form action="{{ url_for('admin_api.add_speaker_dashboard') }}" method="get">
          <button class="waves-effect blue lighten-2 btn add-btn right"><i class="material-icons left">add</i>Speaker</button>
      </form>
    {% endif %}

    <div class="section-title center-align" style="margin-top:90px;">
        List of Speakers
    </div>

    <div class="search-bar">
      <form class="col s12" method="post">
        <div class="row">
          <div class="input-field col s8">
            <input class="col s12" id="name" name="name" type="text" class="validate" required>
            
            <label for="name">{% if search is not none %}{{ search }}{% else %}search name{% endif %}</label>
          </div>
          <button type="submit" class="btn-floating blue lighten-2 search-btn"><i class="material-icons">search</i>Search</button>
        </div>
      </form>

      {% if search %}
        <a class="clear-search" href="{{ url_for('admin_api.speakers_dashboard') }}">clear search results</a>
      {% endif %}
    </div>

      <div class="list">
        {% if error is not none %}
          <blockquote class="create-error">
            {{ error }}
          </blockquote>
        {% else %}
          <div class="counter right">
            Speakers: {{ speakers|length }}
          </div>

          <table class="striped">
              <thead><tr>
                <th>Name</th>
                <th>Company</th>
                <th>Position</th>
                <th>Origin</th>
                <th>Biography</th>
                <th>LinkedIn</th>
              </tr></thead>
              <tbody>
                  {% for speaker in speakers %}
                    <tr>
                      <td><b>{{ speaker.name }}
                        {% if speaker.spotlight is sameas true %}
                          <i class="material-icons icon-gold">star</i>
                        {% endif %}
                      </b></td>
                      
                      <td>
                        {% if speaker.company %}
                          {% if speaker.company_link is not none %}
                            <a href="{{ speaker.company_link }}">
                              {{ speaker.company }}
                            </a>
                          {% else %}
                            {{ speaker.company }}
                          {% endif %}
                        {% endif %}
                      </td>
      
                      <td>
                        {% if speaker.position %}
                          {{ speaker.position }}
                        {% endif %}
                      </td>
      
                      <td>
                        {% if speaker.country %}
                          {{ speaker.country }}
                        {% endif %}
                      </td>
      
                      <td style="width: 20%">
                        {% if speaker.bio is not none %}
                          {{ speaker.bio }}
                        {% endif %}
                      </td>
                      
                      <td>
                        {% if speaker.linkedin_url %}
                          <a href="{{ speaker.linkedin_url }}">Check profile</a>
                        {% endif %}
                      </td>
                      
                      {% if role in ['admin', 'speakers_admin'] %}
                      <td>
                        <form action="/admin/speaker/{{speaker.external_id.hex}}" method="get">
                          <button title="Edit speaker" class="waves-effect waves-light btn-floating"><i class="material-icons left">edit</i>Edit</button>
                        </form>
                      </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
        {% endif %}
      </div>
  </body>
</html>  