<html>  
  <head>
    <title>JEEC|Admin</title>
    <link rel="stylesheet" href="/static/cv_platform/css/index_style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>

    <div class="section-header" >
      <h2>Speakers Management</h2>
    </div>

    <table>
        <thead><tr>
          <th>Name</th>
          <th>Company</th>
          <th>Position</th>
          <th>Country</th>
          <th>Biography</th>
          <th>LinkedIn</th>
        </tr></thead>
        <tbody>
            {% for speaker in speakers %}
              <tr>
                <td><a href="speaker/{{ speaker.external_id.hex }}">{{ speaker.name }}</a></td>
                
                <td>
                  {% if speaker.company is not none %}
                    {{ speaker.company }}
                  {% endif %}
                </td>

                <td>
                  {% if speaker.position is not none %}
                    {{ speaker.position }}
                  {% endif %}
                </td>

                <td>
                  {% if speaker.country is not none %}
                    {{ speaker.country }}
                  {% endif %}
                </td>

                <td>
                  {% if speaker.bio is not none %}
                    {{ speaker.bio }}
                  {% endif %}
                </td>
                
                <td>
                  {% if speaker.linkedin_url is not none %}
                    <a href="{{ speaker.linkedin_url }}">{{ speaker.linkedin_url }}</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{ url_for('admin_api.add_speaker_dashboard') }}" method="get">
      <button>Add Speaker</button>
    </form>

    <form action="{{ url_for('admin_api.dashboard') }}" method="get">
        <button>Go back</button>
    </form>
  </body>
</html>  