<html>  
  <head>
    <title>JEEC|Admin</title>
    <link rel="stylesheet" href="/static/admin/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>
    <div class="nav-bar">
        <a href="{{ url_for('admin_api.dashboard') }}"><img class="jeec-logo-mobile" src="/static/jeec_logo_mobile.svg"></a>

        <form action="{{ url_for('admin_api.admin_logout') }}" method="get">
        <button class="waves-effect waves-light btn-small right logout-btn"><i class="material-icons left">lock</i>Log out</button>
        </form>
    </div>

    <div class="section-header" >
        <h2>{{ speaker.name }}</h2>
        <p>Edit speaker information</p>
    </div>
    
    <form action="{{ url_for('admin_api.speakers_dashboard') }}" method="get">
        <button class="waves-effect waves-light btn back-btn left"><i class="material-icons left">arrow_back</i>back</button>
    </form>
   
    <br>

    <div class="create-form">
      {% if error is not none %}
        <blockquote class="create-error">
          {{ error }}
        </blockquote>
      {% endif %}
      
      <form class="col s12" method="post" enctype="multipart/form-data">
          {% if image is not sameas none %}
            <img src="{{ image }}" class="centered-image" height="200px">
          {% else %}
            <br>
            <blockquote class="create-error">
              Speaker image missing! Please, upload one
            </blockquote> 
          {% endif %}

          <div class="row">
            <div class="input-field col s12">
              <input class="col s4" id="name" name="name" type="text" class="validate" value="{{ speaker.name }}" required>
              <label for="name">Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <input id="company" name="company" type="text" value="{{ speaker.company }}">
              <label for="company">Company</label>
            </div>
  
          
            <div class="input-field col s4">
              <input id="position" name="position" type="text" value="{{ speaker.position }}">
              <label for="position">Position</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <input id="country" name="country" type="text" value="{{ speaker.country }}">
              <label for="country">Country</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s8">
              <textarea id="bio" name="bio" class="materialize-textarea" value="{{speaker.bio}}">{{ speaker.bio }}</textarea>
              <label for="bio">Biography</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <input id="linkedin_url" name="linkedin_url" type="text" value="{{ speaker.linkedin_url }}">
              <label for="linkedin_url">LinkedIn</label>
            </div>
          </div>

          <div class="file-field input-field" style="width:500px;">
            <div class="btn">
              <i class="material-icons left">add_a_photo</i>
              <span>{% if image is not sameas nosne %}change image{% else %}add image{% endif %}</span>
              <input type="file" name="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="use a round .png with <200kB">
            </div>
          </div>

          <button type="submit" class="waves-effect blue lighten-2 btn add-btn right"><i class="material-icons left">save</i>Save Speaker</button>
      </form>
    </div>

    <form action="/admin/speaker/{{speaker.external_id}}/delete" method="get">
      <button class="waves-effect red darken-2 btn delete-btn"><i class="material-icons left">clear</i>Delete Speaker</button>
    </form>
    <br>
  </body>
</html>  