<html>  
  <head>
    <title>JEEC|Admin</title>
    <link rel="stylesheet" href="/static/cv_platform/css/index_style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>

    <div class="section-header" >
      <h2>Add a new Speaker</h2>
    </div>

    <form method="post">
        Name:<br>
        <input type="text" name="name" value="{{ speaker.name }}"><br>
        Company name:<br>
        <input type="text" name="company" value="{{ speaker.company }}"><br>
        Position:<br>
        <input type="text" name="position" value="{{ speaker.position }}"><br>
        Country:<br>
        <input type="text" name="country" value="{{ speaker.country }}"><br>
        Biography:<br>
        <input type="text" name="bio" value="{{ speaker.bio }}"><br>
        LinkedIn:<br>
        <input type="text" name="linkedin_url" value="{{ speaker.linkedin_url }}"><br>

        <input type="submit" value="Save">
    </form>

    <form action="/admin/speaker/{{speaker.external_id}}/delete" method="get">
        <button>Delete Speaker</button>
    </form>

    <form action="{{ url_for('admin_api.speakers_dashboard') }}" method="get">
        <button>Cancel</button>
    </form>
  </body>
</html>  