<html>

<head>
  <title>JEEC|Brain</title>
  <link rel="stylesheet" href="/static/admin/css/global.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

  <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">

</head>

<body>
  <div class="nav-bar">
    <a href="{{ url_for('companies_api.dashboard') }}"><img class="jeec-logo-mobile"
        src="/static/jeec_logo_mobile.svg"></a>

    <div class="company-dash-username right" style="color:black">{{ user.company.name }}</div>

    <form action="{{ url_for('companies_api.company_logout') }}" method="get">
      <button class="waves-effect red lighten-2 btn-small right logout-btn"><i class="material-icons left">lock</i>Log
        out</button>
    </form>

    <a target="_blank" rel="noopener noreferrer" href="https://jeec.ist" method="get">
      <button class="waves-effect waves-light btn-small right" style="margin-top: -3px; margin-right: 50px;"><i
          class="large material-icons left">web</i>Visit website</button>
    </a>
  </div>

  <div class="section-header">
    <h2>{{ meal.type.name }} {{ meal.day }}</h2>
    <p>Choose you dishes.</p>
  </div>

  <form action="{{ url_for('companies_api.meals_dashboard') }}" method="get" class="row s12">
    <button class="waves-effect waves-light btn back-btn left"><i
        class="material-icons left">arrow_back</i>back</button>
  </form>

  <div class="section-title center-align" style="margin-top:50px;">
    List of dishes
  </div>

  <div class="list">
    {% if error is not none %}
    <blockquote class="create-error">
      {{ error }}
    </blockquote>
    {% else %}
    <div class="counter right">
      Dishes: {{ dishes|length }}
    </div>

    <form class="col s12" action="/companies/meal" method="post">
      {% for dish in dishes %}
      <div class="row">
        <div class="col s3">
          {{ dish.name }} / {{dish.description}}
        </div>

        <div class="input-field col s2">
          <input id="quantity{{ loop.index0 }}" name="quantity" type="number" class="validate">
          <label for="quantity{{ loop.index0 }}">Number of dishes:</label>
        </div>
      </div>
      {% endfor %}
    </form>
    {% endif %}
  </div>
</body>

</html>