.section-header {
    position: relative;
    padding-bottom: 10px;
    margin-top: 130px;
    margin-bottom: 20px;
  }
  
.section-header h2 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-family: Avenir,Helvetica,Arial,sans-serif;
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Karla';
    font-weight: 500;
    color: #9195a2;
}

.section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 2px;
    background: #42a5f5;
    bottom: 0;
    left: calc(50% - 50px);
}

.section-title {
    font-size: 25px;
    font-family: 'Karla';
    font-weight: 600;
}

.flexbox-btns {
    display: -webkit-box;  /* iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* IE 10 */
    display: -webkit-flex; /* Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /*Firefox, Chrome, Opera */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}

button {
    font-weight: 600;
    transition: all .2s ease-in-out; 
}

button:hover {
    cursor: pointer;
    transform: scale(1.03); 
}

.nav-bar {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    z-index: 1000;
    background-color: #ffffff;
}

.jeec-logo-mobile {
    display: block;
    width: 50px;
    margin-left: 40px;
    float: left;
}

.logout-btn {
    float: right;
    margin-right: 40px;
    width: 130px;
    margin-top: 10px;
}

.dashboard-btn {
    width: 200px;
    margin-bottom: 20px;
}

.back-btn {
    margin-left: 40px;
    margin-top: 10px;
}

.add-btn {
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.delete-btn {
    margin-left: 40px;
    margin-top: 20px;
}

.icon-green {
    color: green
}

.icon-red {
    color: red
}

.icon-gold {
    color: #FFD700
}

.list {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-bottom: 150px;
}

.create-form {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

.create-error {
    bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}

.tier-indicator {
    width: 50px;
    height: 20px;
    border-radius: 10px;
}

.gold {
    background-color: #FFD700;
}

.silver {
    background-color: #C0C0C0;
}

.bronze {
    background-color: #CD7F32;
}

.search-bar {
    margin-left: 35vw;
    margin-right: 20vw;
}

.search-btn {
    margin-top: 20px;
}

.clear-search {
    color: rgb(119, 119, 119);
}

.clear-search:hover {
    color: rgb(172, 172, 172);
}

.counter {
    font-size: 15px;
    word-spacing: 10px;
    color: rgb(102, 101, 101);
    margin-right: 40px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.company-logo {
    max-height: 150px;
    max-width: 300px;
    margin-bottom: 40px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-activity-buttons {
    margin-top: 20px;
}

.add-activity-btn {
    margin-left: 30px;
    margin-bottom: 20px;
}

.search-activity-buttons {
    margin-top: 20px;
}

.search-type-btn {
    margin-left: 30px;
    margin-bottom: 20px;
}


/* On screens that are 500px wide*/
@media only screen and (max-width: 500px) {
    button {
        width: 150px;
        height: 70px;
        font-size: 18px;
    }
}

