<html>

<head>
  <title>JEEC|Brain</title>
  <link rel="stylesheet" href="/static/admin/css/global.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

  <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">

</head>

<body>
  <div class="nav-bar">
    <a href="{{ url_for('companies_api.dashboard') }}"><img class="jeec-logo-mobile"
        src="/static/jeec_logo_mobile.svg"></a>

    <div class="company-dash-username right" style="color:black">{{ user.user.name }}</div>

    <form action="{{ url_for('companies_api.company_logout') }}" method="get">
      <button class="waves-effect red lighten-2 btn-small right logout-btn"><i class="material-icons left">lock</i>Log
        out</button>
    </form>

    <a target="_blank" rel="noopener noreferrer" href="https://jeec.ist" method="get">
      <button class="waves-effect waves-light btn-small right" style="margin-top: -3px; margin-right: 50px;"><i
          class="large material-icons left">web</i>Visit website</button>
    </a>
  </div>

  <div class="section-header">
    <h2>{{ activity_type.name }}</h2>
  </div>

  <form action="{{ url_for('companies_api.dashboard') }}" method="get" class="row s12">
    <button class="waves-effect waves-light btn back-btn left"><i
        class="material-icons left">arrow_back</i>back</button>
  </form>

  {% if activity_type.name|string() == 'Job Fair' %}
  <div class="flexbox-btns" style="justify-content: center;">
    <button id="activity_btn" class="waves-effect blue lighten-2 btn-large dashboard-btn" style="margin-right: 50px;"><i
      class="large material-icons left">build</i>Activity</button>

    <button id="info_btn" class="waves-effect blue lighten-2 btn-large dashboard-btn"><i
        class="large material-icons left">info</i>Info</button>

    <button id="chat_btn" class="waves-effect blue lighten-2 btn-large dashboard-btn" style="margin-left: 50px;" disabled><i
        class="large material-icons left">chat</i>Chat</button>
  </div>
  {% endif %}

  <center id="activity">
    <div class="carousel-wrapper">
      <img class="left-arrow" src="/static/icons/arrow.svg">
      <div class="carousel carousel-slider" style="min-height: 450px !important;">
        {% for activity in activities %}
        <div class="carousel-item">
          <p class="activity-name">{{ activity.name }}</p>
          <p class="activity-description">{{ activity.description }}</p>
          <p class="activity-time">{{ activity.day }} - {{ activity.time }}{%if activity.end_time %}/{{activity.end_time
            }}{% endif %}</p>

          <div class="flexbox-btns">
            <button id="calendar_btn" class="waves-effect red lighten-2 btn-large dashboard-btn" style="width: auto;"><i
                class="large material-icons left">event</i>Add To Calendar</button>

            {% if activity_type.name|string() == 'Job Fair' %}
            <button data-target="modal1" class="waves-effect red lighten-2 btn-large dashboard-btn modal-trigger"
              style="width: auto;" disabled><i class="large material-icons left">qr_code</i>Generate Code</button>
            {% endif %}

            {% if activity.zoom_link %}
            <form action="{{ activity.zoom_link }}" target="_blank">
              <button class="waves-effect red lighten-2 btn-large dashboard-btn"><i
                  class="large material-icons left">connected_tv</i>Zoom Link</button>
            </form>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <img class="right-arrow" src="/static/icons/arrow.svg">
    </div>
  </center>

  <center id="info">
    {% if activity_type.name|string() == 'Job Fair' %}
    <div class="evf evf-user">
      <p><b>user:</b> {{ user.user.username }}</p>
      <p><b>password:</b> {{ user.user.password }}</p>
      <form action="https://tecnicoevents.easyvirtualfair.com/" target="_blank">
        <button class="waves-effect red lighten-2 btn-large dashboard-btn"><i
            class="large material-icons left">language</i>Log In</button>
      </form>
    </div>

    <div class="evf">
      <p><b>user:</b> {{ user.company.evf_username }}</p>
      <p><b>password:</b> {{ user.company.evf_password }}</p>
      <form action="https://tecnicoevents.easyvirtualfair.com/backend" target="_blank">
        <button class="waves-effect red lighten-2 btn-large dashboard-btn"><i
            class="large material-icons left">language</i>Log In</button>
      </form>
    </div>
    {% endif %}
  </center>

  {% if activity_type.name|string() == 'Job Fair' %}
  <div id="chat">
    <iframe id="chat-frame" class="chat-frame" src="{{ chat_url }}" frameborder="0"></iframe>
  </div>

  <div id="modal1" class="modal" style="height: auto;">
    <div class="modal-content">
      <center style="margin-top: 40px;">
        <input id="code-input" placeholder="XXXX-XXXX-XXXX-XXXX" readonly>

        <div style="margin-top: 40px;">
          <button id="code" class="waves-effect red lighten-2 btn-large dashboard-btn"
            style="width: auto; margin-right: 10px;"><i class="large material-icons left">qr_code</i>Generate
            Code</button>

          <button id="copy" class="waves-effect blue lighten-2 btn-large dashboard-btn"
            style="width: auto; margin-left: 10x;"><i class="large material-icons left">content_copy</i>Copy to
            Clipboard</button>
        </div>
      </center>
    </div>
  </div>
  {% endif %}


  </div>

  <script>
    var activities = {{ activities| tojson }};

    $(document).ready(function () {
      $("#chat").hide();
      $("#info").hide();

      $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
      });
      $('.modal').modal();

      $("#copy").click(function () {
        var code = $("#code-input");
        code.select();
        document.execCommand("copy");
      });

      $("#code").click(function () {
        var activity = (activities[($('.carousel.carousel-slider')[0].M_Carousel.center) % (activities.length)]);

        $.post("/companies/activity/" + activity['external_id'] + "/code", function (data) {
          var code = data.substring(0, 4) + '-' + data.substring(4, 8) + '-' + data.substring(8, 12) + '-' + data.substring(12);
          $('#code-input').val(code);
        });
      });

      $(".left-arrow").click(function () {
        $('.carousel.carousel-slider').carousel('prev', 1);
      });

      $(".right-arrow").click(function () {
        $('.carousel.carousel-slider').carousel('next', 1);
      });

      $("#info_btn").click(function () {
        $("#info").show();
        $("#chat").hide();
        $("#activity").hide();
      });

      $("#chat_btn").click(function () {
        $("#info").hide();
        $("#activity").hide();
        $("#chat").show();
      });

      $("#activity_btn").click(function () {
        $("#info").hide();
        $("#activity").show();
        $("#chat").hide();
      });

      $("#calendar_btn").click(function () {
        var activity = (activities[($('.carousel.carousel-slider')[0].M_Carousel.center) % (activities.length)]);

        var url = "https://calendar.google.com/calendar/render?action=TEMPLATE";
        url = url + "&text=" + activity.name;
        url = url + "&ctz=" + "Europe/Lisbon";
        url = url + "&location=" + activity.location;
        url = url + "&dates=" + get_date(activity);
        url =
          url +
          "&sprop=website:" +
          activity.registration_link +
          "&sprop=name:" +
          activity.name;

        if (activity.registration_open) {
          url =
            url +
            "&details=" +
            "Registrations in " +
            activity.registration_link +
            "%0A%0A" +
            activity.description;
        } else {
          url = url + "&details=" + activity.description;
        }

        var date = new Date();

        if (
          date.getHours().toString() + ":" + date.getMinutes().toString() > activity.time
        ) {
          url = url + "&crm=" + "BUSY"; //busy
        } else if (!activity.registration_open) {
          url = url + "&crm=" + "BLOCKING"; //blocking
        } else {
          url = url + "&crm=" + "AVAILABLE"; //available
        }

        var win = window.open(url, '_blank');
        win.focus();
      });
    });

    function get_date(activity) {
      var start_date = new Date(
        activity.day.substring(0, 11) + " " + activity.time + ":00"
      );
      var end_date = new Date(
        activity.day.substring(0, 11) +
        " " +
        activity.end_time +
        ":00"
      );

      start_date =
        start_date.getFullYear().toString() +
        (start_date.getMonth() + 1 < 10
          ? "0" + (start_date.getMonth() + 1).toString()
          : (start_date.getMonth() + 1).toString()) +
        (start_date.getDate() < 10
          ? "0" + (start_date.getDate()).toString()
          : (start_date.getDate()).toString()) +
        "T" +
        (start_date.getHours() < 10
          ? "0" + start_date.getHours()
          : start_date.getHours()) +
        (start_date.getMinutes() < 10
          ? "0" + start_date.getMinutes()
          : start_date.getMinutes()) +
        "00";

      end_date =
        end_date.getFullYear().toString() +
        (end_date.getMonth() + 1 < 10
          ? "0" + (end_date.getMonth() + 1).toString()
          : (end_date.getMonth() + 1).toString()) +
        (end_date.getDate() < 10
          ? "0" + (end_date.getDate()).toString()
          : (end_date.getDate()).toString()) +
        "T" +
        (end_date.getHours() < 10
          ? "0" + end_date.getHours()
          : end_date.getHours()) +
        (end_date.getMinutes() < 10
          ? "0" + end_date.getMinutes()
          : end_date.getMinutes()) +
        "00";

      return start_date + "/" + end_date;
    };

  </script>
</body>

</html>