<html>  
  <head>
    <title>JEEC CV</title>
    <link rel="stylesheet" href="/static/cv_platform/css/index_style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body>
    <div class="logo-container">
      <img class="jeec-logo" src="/static/jeec_logo.svg">
    </div>

    <div class="section-header" >
      <h2>CV Submission Platform</h2>
      <p>submit your resume to our partners</p>
    </div>

    <div class="warning-text">New submissions are now closed!</div>

    <div class="login-container">
        <span class="login-text">Login:</span>
        <form action="index" method=post>
          <input type="submit" name=submit value="Student" class="login-button">
        </form>
        <form action="index" method=post>
          <input type="submit" name=submit value="Company" class="login-button">
        </form>
    </div>
    
    <div class="flexbox-imgs">
        <!-- <a href="http://www.vtxrm.com/" target="_blank"><img src="/static/companies/vtxrm.png"></a>
        <a href="https://www.accenture.com/pt-pt/new-applied-now" target="_blank"><img src="/static/companies/accenture.png"></a>
        <a href="http://www.adentis.pt/" target="_blank"><img src="/static/companies/adentis.png"></a>
        <a href="https://www.altran.com/pt/pt-pt/" target="_blank"><img src="/static/companies/altran.png"></a>
        <a href="https://www.aubay.pt/" target="_blank"><img src="/static/companies/aubay.png"></a>
        <a href="https://www.criticaltechworks.com/" target="_blank"><img src="/static/companies/critical_techworks.png"></a>
        <a href="https://www.everis.com/portugal/pt-pt" target="_blank"><img src="/static/companies/everis.png"></a>
        <a href="https://www.ey.com/en_gl" target="_blank"><img src="/static/companies/ey.png"></a>
        <a href="https://home.kpmg/pt/en/home.html" target="_blank"><img src="/static/companies/kpmg.png"></a>
        <a href="https://www.microsoft.com/pt-pt" target="_blank"><img src="/static/companies/microsoft.png"></a>
        <a href="https://www.epimetheus.pt/" target="_blank"><img src="/static/companies/neyond.png"></a>
        <a href="http://www.novabase.pt/pt" target="_blank"><img src="/static/companies/novabase.png"></a>
        <a href="https://www.outsystems.com/" target="_blank"><img src="/static/companies/outsystems.png"></a>
        <a href="https://www.siemens.com/" target="_blank"><img src="/static/companies/siemens.png"></a>
        <a href="https://www.vodafone.pt/" target="_blank"><img src="/static/companies/vodafone.png"></a> -->
    </div>
  </body>
</html>  