<html>  
  <head>
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/static/cv_platform/css/terms_conditions_style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">
</head>
  <body>
    <div class="logo-container">
        <img class="jeec-small-logo" src="/static/jeec_logo.svg">
    </div>

    <div class="section-header">
        <h2>Terms and Conditions</h2>
        <p>JEEC CV Submission Platform</p>
    </div>

    <div class="text-container">
        <p>
            It is JEECIST’s policy to respect your privacy regarding any information we may collect while operating our Platform.
        </p><p>
        - Website Visitors
        Like most website operators, JEECIST collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. JEECIST’s purpose in collecting non-personally identifying information is to better understand how JEECIST’s visitors use its website. From time to time, JEECIST may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
        JEECIST also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on https://cv.jeec.ist blog posts. JEECIST only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.
        </p><p>
        - Gathering of Personally-Identifying Information
        Certain visitors to JEECIST’s CV Platform choose to interact with JEECIST in ways that require JEECIST to gather personally-identifying information.
        </p><p>
        - Security
        The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. The CVs are secured in a private database and erased after being released to the companies, however while we strive to use all means to protect your Personal Information, we cannot guarantee its absolute security.
        </p><p>
        - Links To External Sites
        Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.
        We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.
        </p><p>
        - Protection of Certain Personally-Identifying Information
        JEECIST discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on JEECIST’s behalf or to provide services available at JEECIST’s website, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using JEECIST’s website, you consent to the transfer of such information to them.
        </p><p>
        - Cookies
        A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. JEECIST uses cookies to help JEECIST identify and track visitors, their usage of http://www.jeec.ist, and their website access preferences. JEECIST visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using JEECIST’s websites, with the drawback that certain features of JEECIST’s websites may not function properly without the aid of cookies.
        By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to JEECIST's use of cookies.
        </p><p>
        -Privacy Policy Changes
        Although most changes are likely to be minor, JEECIST may change its Privacy Policy from time to time, and in JEECIST’s sole discretion. JEECIST encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
        </p><p>
        - Credit & Contact Information
        For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at contacto@jeec.ist or by mail using the details provided below:
        
            NEECIST, Rua Alves Redol 1, Lisboa, 11, 1049-001, Portugal
    </div>

    <div class="accept-container">
        <form method=post>
            <input type=submit name=submit value="Accept Terms" id="accept-terms" class="accept-button">
            <label for="accept-terms">Accept Terms & Conditions</label>
        </form>
    </div>

    <div class="logout-container">
        <form action="/auth/logout" method=get>
            <input type="submit" name=submit value="Logout" class="logout-button">
        </form>
    </div>
  </body>
</html>  