<html>

<head>
  <title>Brain</title>
  <link rel="stylesheet" href="/static/admin/css/global.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="../static/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="shortcut icon" type="image/x-icon" href="./static/j_logo.png">

  <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Roboto|Raleway|Source+Sans+Pro" rel="stylesheet">

</head>

<body>
  <div class="nav-bar">
    <a href="{{ url_for('admin_api.dashboard') }}"><img class="jeec-logo-mobile" src="/static/brain.png"></a>

    <form action="{{ url_for('admin_api.admin_logout') }}" method="get">
      <button class="waves-effect red lighten-2 btn-small right logout-btn"><i class="material-icons left">lock</i>Log
        out</button>
    </form>

    <a target="_blank" rel="noopener noreferrer" href="https://jeec.ist" method="get">
      <button class="waves-effect waves-light btn-small right" style="margin-top: -3px; margin-right: 50px;"><i
          class="large material-icons left">web</i>Visit website</button>
    </a>
  </div>

  <div class="section-header">
    <h2>Students Management</h2>
    <p>Ban and manage students</p>
  </div>

  <form action="{{ url_for('admin_api.students_app_dashboard') }}" method="get">
    <button class="waves-effect waves-light btn back-btn left"><i
        class="material-icons left">arrow_back</i>back</button>
  </form>

  <form action="{{ url_for('admin_api.banned_students_dashboard') }}" method="get">
    <button class="waves-effect waves-light btn back-btn red right" style="margin-right: 30px;"><i
        class="material-icons right">arrow_forward</i>Banned Students</button>
  </form>

  <div class="section-title center-align" style="margin-top:90px;">
    List of Students
  </div>

  <div class="search-bar">
    <form class="col s12" method="get">
      <div class="row">
        <div class="input-field col s8">
          <input class="col s12" id="search" name="search" type="text" class="validate" required>

          <label for="search">{% if search is not none %}{{ search }}{% else %}search name or username{% endif
            %}</label>
        </div>
        <button type="submit" class="btn-floating blue lighten-2 search-btn"><i
            class="material-icons">search</i>Search</button>
      </div>
    </form>

    {% if search %}
    <a class="clear-search" href="{{ url_for('admin_api.students_dashboard') }}">clear search results</a>
    {% endif %}
  </div>

  <div class="list">
    {% if error is not none %}
    <blockquote class="create-error">
      {{ error }}
    </blockquote>
    {% else %}
    <div class="counter right">
      Students: {{ students|length }}
    </div>

    <table class="striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>IST Id</th>
          <th>Email</th>
          <th>Linkedin</th>
          <th>Level</th>
          <th>Daily Points</th>
          <th>Total Points</th>
          <th>Uploaded CV</th>
          <th>Squad</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>
            {{ student[10] }}
          </td>

          <td><b>
              {{ student[0] }}
            </b></td>

          <td>
            {{ student[1] }}
          </td>

          <td>
            {{ student[2] }}
          </td>

          <td>
            {% if student[3] is not none %}
            <a href="{{ student[3] }}" target="_blank">{{ student[3] }}</a>
            {% else %}
            <i class="material-icons icon-red">clear</i>
            {% endif %}
          </td>

          <td>
            {{ student[4] }}
          </td>

          <td>
            {{ student[5] }}
          </td>

          <td>
            {{ student[6] }}
          </td>

          <td>
            {% if student[7] is sameas true %}
            <i class="material-icons icon-green">check</i>
            {% else %}
            <i class="material-icons icon-red">clear</i>
            {% endif %}
          </td>

          <td>
            {% if student[8] %}
            {{ student[8] }}
            {% endif %}
          </td>

          {% if current_user.role.name == 'admin' %}
          <td>
            <form action="/admin/student/{{student[9].hex}}/ban" method="post"
              onsubmit="return confirm('Are you sure you want to ban this student?');" style="margin: 0;">
              <button title="Ban student" class="waves-effect waves-light btn-floating"><i
                  class="material-icons red left">person_remove</i>Ban</button>
            </form>
          </td>
          <td>
            <button title="Add Points" data-target="modal1" data-name="{{ student[9].hex }}"
              class="waves-effect waves-light green btn-floating modal-trigger points-btn"><i
                class="material-icons left">qr_code</i>Add Points</button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

  <div id="modal1" class="modal" style="height: auto;">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s2">
          <input class="col s12" id="points" name="points" type="number" class="validate" required>
          <label for="points">Points</label>
        </div>
        <div class="input-field col s2">
          <input class="col s12" id="activity_id" name="activity_id" type="number" class="validate">
          <label for="activity_id">Activity ID</label>
        </div>
      </div>
      <p id="points-msg"></p>
      <div class="row">
        <button id="points-submit" type="submit" class="waves-effect blue lighten-2 btn add-btn right"><i
            class="material-icons left">save</i>Add Points</button>
      </div>
    </div>
  </div>

  <script>
    $(function () {
      var activity_external_id = "";

      $('.modal').modal();

      $(".points-btn").click(function () {
        activity_external_id = jQuery(this).data('name');
      });

      $("#points-submit").click(function () {
        $.post("/admin/student/" + activity_external_id + "/add-points", { "points": $("#points").val(), "activity_id": $("#activity_id").val() }, function (data) {
          $('#points-msg').text(data);
        }).fail(function (error) {
          $('#points-msg').text(error.responseJSON.error);
        });
      })

    })

  </script>

</body>

</html>